modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0", "stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_USERNAME = "Bosslife_king"
ADMIN_EMAIL = "admin@nexuselite.app"
STRIPE_PRICE_STARTER = "price_1TIMr9JuLDzBrGo8IYaVEM3V"
STRIPE_PRICE_PRO = "price_1TIMr9JuLDzBrGo8iXs5tmYV"
STRIPE_PRICE_ELITE = "price_1TIMrAJuLDzBrGo8BDRh2BMP"
CUSTOM_DOMAIN = "nexuselitestudio.com"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 22936
externalPort = 3000
